h1 {
	position: relative;
	left: 700px;
}

body {
	background-color: rgb(201, 37, 8);;
}

/* First textbox and first button */
#input {

	border: solid black;
	height: 30px;
	width: 185px;
}

#firstButton {
	background-color: black; 
	color: white;
	border: solid black;
	height: 37px;
	width: 80px;
}

/*The divs used to space out the elements already on screen */
#Set {
	position: relative;
	left: 680px;
	margin: auto;
}



